body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}

div {
  position: center;
  
}

/* #gameBoard {
  background-color: rgb(195, 195, 195);
  width: 90 px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border: 1px solid black;    
} */

#gameBoard {
  height: 400px;
  width: 400px;
  border: 5px solid gray;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: darkgray;
}

cell {
  height: 48px;
  width: 48px;
  background-color: gray;
  border: 1px solid whitesmoke;

  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

count {
  font-size: 20px;
}


.Nbomb {
  background-color: red;
  font-size: 10px;
}

.Nspace {
  background-color: lightgray;
  font-size: 10px;
}

.N1 {
  color: blue;
}

.N2 {
  color: darkgreen;
}

.N3 {
color: darkred;
}

.N4 {
  color: darkblue;
  }

[status = "hidden"] {
  background-color: gray;
}
  
.flag {
  background-color: yellowgreen;
  font-size: 20px;
}