
body {
  font-family: Dongle;
  color: rgb(92, 92, 92);
  font-size: 20px;
  text-align: center;
  background-color: rgb(238, 216, 255);
  line-height: 30px;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 25px;
  background-color: rgb(254, 239, 189);
  width: 300px;
  height: 120px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgb(154, 152, 90) 0 10px 20px -10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#sizeEl {
  background-color: pink;
  width: 300px;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgb(154, 90, 142) 0 10px 20px -10px;
  margin: 0 auto;
}
div {
  position: center;
}

.hide {
  display: none;
}

#gameBoard {
  height: 0px;
  width: 0px;
  border: 0px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(202, 235, 255);
  box-shadow: rgb(178, 245, 255) 0 10px 20px -10px;
}

cell {
  height: 48px;
  width: 48px;
  background-color: rgb(162, 212, 255);
  border: 1px solid rgb(211, 235, 255);
  box-shadow: rgb(178, 245, 255) 0 10px 20px -10px;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

count {
  font-size: 30px;
}

button {
  background: rgb(254, 239, 189);
  border-radius: 999px;
  box-shadow: rgb(95, 91, 100) 0 10px 20px -10px;
  box-sizing: border-box;
  color: rgb(89, 89, 89);
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 30px;
}

input {
  border: 3px solid gray;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Nbomb {
  background-color: rgb(136, 106, 83);
  font-size: 20px;
}

.N0 {
  background-color: rgb(230, 241, 255);
  font-size: 30px;
  
}

.N1 {
  color: blue;
  background-color: rgb(230, 241, 255);
}

.N2 {
  color: rgb(42, 188, 42);
  background-color: rgb(230, 241, 255);
}

.N3 {
  color: rgb(255, 0, 0);
  background-color: rgb(230, 241, 255);
}

.N4 {
  color: darkblue;
  background-color: rgb(230, 241, 255);
  }

  .N5 {
    color: rgb(188, 98, 42);
    background-color: rgb(230, 241, 255);
  }

  .N6 {
    color: rgb(156, 42, 188);
    background-color: rgb(230, 241, 255);
  }


.flag {
  background-color: rgb(202	239	184);
  font-size: 20px;
}


