
body {
  font-family: VT323;
  color: #484848;
  text-align: center;
  background-image: url("./background.png");
  background-size: cover;
  line-height: 28px;
  height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  gap: 20px
}

h1 {
  font-size: 60px;

  margin-top: 40px;
  color: #ffee9c;
  /* -webkit-text-stroke: .px #484848; */
  paint-order: stroke fill;
  text-shadow: -1px 1px 10px #484848,
				  1px 2px 10px #484848,
				  1px -1px 5px #484848,
				  -1px -1px 5px #484848;
}

h2 {
  background-color: #f6c7d9;
  height: 40px;
  width: 165px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: rgb(154, 152, 90) 0 10px 20px -10px;
  padding: 10px 5px 0px 5px;
  background-image: url("./result.png");
  background-size: cover;
}

h3 {
  font-size: 30px;
  /* background-color: rgb(254, 239, 189); */
  width: 450px;
  height: 190px;
  border-radius: 5px;
  box-shadow: rgb(154, 152, 90) 0 10px 20px -10px;
  margin: 0 auto;
  padding-top: 35px;
  overflow: hidden;
  background-image: url("./windows.jpeg");
  background-size: cover;
}

#instructions {
 border: 2px solid #484848;
 border-radius: 10px ;
 background-image: url("./instructions.png");
}

#sizeEl {
  background-image: url("./input.png");
  border: 2px solid #484848;
  border-radius: 10px ;
  width: 360px;
  height: 190px;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: rgb(154, 90, 142) 0 10px 20px -10px;
  margin: 0 auto;
}

.note {
  font-size: 20px;
}

div {
  position: center;
}

.hide {
  display: none;
}

#gameBoard {
  height: 0px;
  width: 0px;
  border: 0px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #e2e1ff;
  box-shadow: #e2e1ff 0 10px 20px -10px;
}

cell {
  height: 28px;
  width: 28px;
  background-color: #9a96ff;
  border: 1px solid #ffee9c;
  box-shadow: rgb(178, 245, 255) 0 10px 20px -10px;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

count {
  font-size: 30px;
}

button {
  font-family: VT323;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  box-shadow: rgb(95, 91, 100) 0 10px 20px -10px;
  color: rgb(89, 89, 89);
  font-size: 20px;
  border: 1px solid #484848;
  word-break: break-word;
  margin-top: 15px;
  background-image: url("./button.png");
  background-size: cover;
  
}

input {
  border: 2px solid #484848;
  box-shadow: rgb(95, 91, 100) 0 10px 20px -10px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffcc5;
}

.Nbomb {
  background-color: rgb(217, 193, 145);
  font-size: 15px;
  background-image: url("./coffee.png");
  background-size: cover;
}

.N0 {
  background-color: rgb(235, 238, 255);
  color: rgb(230, 241, 255);
  font-size: 20px;
  
}

.N1 {
  color: blue;
  background-color: rgb(235, 238, 255);
}

.N2 {
  color: rgb(42, 188, 42);
  background-color: rgb(235, 238, 255);
}

.N3 {
  color: rgb(255, 0, 0);
  background-color: rgb(235, 238, 255);
}

.N4 {
  color: darkblue;
  background-color: rgb(235, 238, 255);
  }

  .N5 {
    color: rgb(188, 98, 42);
    background-color: rgb(235, 238, 255);
  }

  .N6 {
    color: rgb(156, 42, 188);
    background-color: rgb(235, 238, 255);
  }

  .N7 {
    color: rgb(42, 188, 168);
    background-color: rgb(235, 238, 255);
  }

  .N8 {
    color: rgb(207, 167, 34);
    background-color: rgb(235, 238, 255);
  }


.flag {
  background-color: rgb(255, 253, 220);
  font-size: 15px;
  background-image: url("./flag.png");
  background-size: cover;
}


